language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  
notifications:
  disabled: true
  
script:
  - bundle exec rspec

matrix:
  allow_failures:
    - rvm: ruby-head
    
before_install:
 - gem update rubygems
 - sudo apt-get update -qq
 - sudo apt-get install libicu-dev -yqq
 - git init --bare spec/utils/wiki.git
 
